<!DOCTYPE html>
<html lang="en">
  <head>
   {{>styleLink}}
  </head>
  <body>
    {{>navbar}}
    <!-- Main Header -->

    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-md-6 col-12 main_header_right align-items-center">
                <figure>
                  <img src="images/image.png" alt="ashura" class="img-fluid" title="ashuraMajestic">
                </figure>
              </div>
            <div class="col-md-6 col-12 main_header_left">
              <p>Welocme to Weather App</p>
              <h1>I am a <span class="text_clr">Programmer</span>, Web developer and Anime Fan.</h1>
              <a href="https://github.com/AshuraMajestic" target="_Ashura"><button>About Me</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer part -->
   {{>footer}}
  </body>
</html>
